$font-family-serif: "EB Garamond", Georgia, "Times New Roman", serif;
$font-family-sans-serif: Raleway, Helvetica, Arial, sans-serif;
$font-family-monospace: "Fira Code", monospace;
$base-font-size: 1.25em;
$base-line-height: 1;
$heading-base-size: 2 * $base-font-size;
$grey: #515151;
$light-grey: #9a9a9a;
$off-white: #efefef;
$dark-grey: #313131;
$white: #fff;
$light-blue: #268bd2;
$red: #ff2a13;
$heavy: 500;
$base-width: 48rem;

* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 100%;
}
html {
  font-family: $font-family-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
body {
  margin: 0;
  padding: 0;
  color: $grey;
  background-color: $white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  line-height: 1.25 * $base-line-height;
  color: $dark-grey;
  text-rendering: optimizeLegibility;
  font-family: $font-family-sans-serif;
  font-weight: $heavy;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.1rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}
strong {
  color: $dark-grey;
}
ul {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}
a {
  color: $light-blue;
  text-decoration: none;
}

@for $c from 1 through 6 {
  a > h#{$c} {
    color: $light-blue;
  }
}

a strong {
  color: inherit;
}
a:focus,
a:hover {
  text-decoration: underline;
}
.container {
  max-width: $base-width;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(93vh - 2.5rem);
}
.masthead {
  padding-top: 1rem;
  font-family: $font-family-sans-serif;
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
}

.masthead .title {
  margin: auto;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}

.masthead a:hover {
  color: $light-blue;
  text-decoration: none;
}

.masthead > nav {
  margin: auto;
  line-height: 1.5 * $base-line-height;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.masthead > nav > a {
  color: $dark-grey;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer > nav {
  font-family: $font-family-sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  line-height: 1.5 * $base-line-height;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
  margin: auto;
  width: 45%
}

footer {
  position: absolute;
  height: 2.5rem;
  width: 100%;
  display: flex;
}

ul.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}

.post-item {
  display: grid;
  width: 100%;
  height: max-content;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    "date title"
    ". summary"
    ". read-more";
  align-items: center;
  grid-column-gap: 1rem;
  justify-items: start;
}

a.post-link {
  justify-self: start;
  grid-area: title;
  text-align: left;
}

a.post-link > h1 {
  justify-self: center;
  margin: 0;
}

.post-date {
  grid-area: date;
  margin: 0;
}

.post-summary {
  grid-area: summary;
  align-self: start;
}

a.read-more {
  grid-area: read-more;
  padding-bottom: 1em;
}

.title {
  color: $dark-grey;
  font-size: 2rem;
}

.post-header {
  width: 100%;
  font-family: $font-family-sans-serif;
  padding-bottom: 1.25rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.post-subtitle {
  font-family: $font-family-sans-serif;
  color: $light-grey;
  font-size: 1rem;
}

.post-subtitle > strong {
  color: $light-grey;
}

.toc h3,
.toc h4 {
  display: inline;
}

.toc {
  padding-bottom: 0.75rem;
}

.toc ol {
  margin: 0;
  margin-left: 0;
  padding-left: 1rem;
  counter-reset: item;
}

.toc li {
  display: block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.toc li:before {
  padding-right: 0.5rem;
  content: "(" counters(item, ".") ") ";
  counter-increment: item;
}

pre {
  padding: 1rem;
}

pre[style] {
  background-color: $off-white !important;
}

.katex {
  font-size: 1rem;
}
.icon > svg {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
}
.icon > svg path {
  fill: #828282;
}

section.section {
  padding-bottom: 2.5rem;
}
