$font-family-serif: "EB Garamond", Georgia, "Times New Roman", serif;
$font-family-sans-serif: Raleway, Helvetica, Arial, sans-serif;
$font-family-monospace: "Fira Code", monospace;
$base-font-size: 15px;
$base-line-height: 1;
$heading-base-size: 2 * $base-font-size;
$grey: #515151;
$light-grey: #9a9a9a;
$off-white: #efefef;
$dark-grey: #313131;
$darkest-grey: #111;
$white: #fffff8;
$light-blue: #268bd2;
$red: #ff2a13;
$heavy: 500;

$base-width: 95%;

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 100%;
}

html {
  font-family: $font-family-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  margin: 0;
  padding: 0;
  color: $darkest-grey;
  background-color: $white;
  margin-left: auto;
  margin-right: auto;
  counter-reset: sidenote-counter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  line-height: 1.25 * $base-line-height;
  color: $dark-grey;
  text-rendering: optimizeLegibility;
  font-family: $font-family-sans-serif;
  font-weight: $heavy;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

strong {
  color: $dark-grey;
}

ul {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

a {
  color: $light-blue;
  text-decoration: none;
}

@for $c from 1 through 6 {
  a > h#{$c} {
    color: $light-blue;
  }
}

a strong {
  color: inherit;
}

a:focus,
a:hover {
  text-decoration: underline;
}

.container {
  max-width: $base-width;
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(93vh - 2.5rem);
  width: 95%;
}

.masthead {
  padding-top: 1rem;
  font-family: $font-family-sans-serif;
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
}

.masthead .title {
  margin: auto;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}

.masthead a:hover {
  color: $light-blue;
  text-decoration: none;
}

.masthead > nav {
  margin: auto;
  line-height: 1.5 * $base-line-height;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.masthead > nav > a {
  color: $dark-grey;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer > nav {
  font-family: $font-family-sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  line-height: 1.5 * $base-line-height;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
  margin: auto;
  width: 45%;
}

footer {
  position: absolute;
  height: 2.5rem;
  width: 100%;
  display: flex;
}

ul.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  width: 55%;
}

ul.tag-post-list {
  list-style: none;
  margin: 0;
  padding-bottom: 2rem;
}

.post-item {
  display: grid;
  width: 100%;
  height: max-content;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "date title" ". summary" ". read-more";
  align-items: center;
  grid-column-gap: 1rem;
  justify-items: start;
}

a.post-link {
  justify-self: start;
  grid-area: title;
  text-align: left;
}

a.post-link > h1 {
  justify-self: center;
  margin: 0;
}

.post-date {
  grid-area: date;
  margin: 0;
}

.post-summary {
  grid-area: summary;
  align-self: start;
}

a.read-more {
  grid-area: read-more;
  padding-bottom: 1em;
}

.title {
  color: $dark-grey;
  font-size: 2.5rem;
}

.post-header {
  width: 100%;
  font-family: $font-family-sans-serif;
  padding-bottom: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.post-title {
  font-size: 2rem;
}

.post-subtitle {
  font-family: $font-family-sans-serif;
  color: $light-grey;
  font-size: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.post-metadata > strong {
  color: $light-grey;
}

.post-date {
  padding-bottom: 0.5rem;
}

.post-metadata-bullet {
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.post-rt {
  padding-bottom: 0.5rem;
}

.post-wc {
  padding-bottom: 0.5rem;
}

.post-subtitle > .post-metadata {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.tag-title {
  width: 100%;
  font-family: $font-family-sans-serif;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.toc h3,
.toc h4 {
  display: inline;
}

.toc {
  padding-bottom: 0.75rem;
}

.toc ol {
  margin: 0;
  margin-left: 0;
  padding-left: 1rem;
  counter-reset: item;
}

.toc li {
  display: block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.toc li:before {
  padding-right: 0.5rem;
  content: "(" counters(item, ".") ") ";
  counter-increment: item;
}

pre {
  padding: 1rem;
}

pre[style] {
  background-color: $off-white !important;
}

.katex {
  font-size: 1rem;
}

.icon > svg {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
}

.icon > svg path {
  fill: #828282;
}

.post-tags > a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

code {
  white-space: pre-wrap;
  font-size: 1.2rem;
  font-family: $font-family-monospace;
}

span.smallcaps {
  font-variant: small-caps;
}

span.underline {
  text-decoration: underline;
}

div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

ul.task-list {
  list-style: none;
}

pre > code.sourceCode {
  white-space: pre;
  position: relative;
}

pre > code.sourceCode > span {
  display: inline-block;
  line-height: 1.25;
}

pre > code.sourceCode > span:empty {
  height: 1.2em;
}

code.sourceCode > span {
  color: inherit;
  text-decoration: inherit;
}

div.sourceCode {
  margin: 1em 0;
}

pre.sourceCode {
  margin: 0;
}

@media screen {
  div.sourceCode {
    overflow: auto;
  }
}

@media print {
  pre > code.sourceCode {
    white-space: pre-wrap;
  }

  pre > code.sourceCode > span {
    text-indent: -5em;
    padding-left: 5em;
  }
}

pre.numberSource code {
  counter-reset: source-line 0;
}

pre.numberSource code > span {
  position: relative;
  left: -4em;
  counter-increment: source-line;
}

pre.numberSource code > span > a:first-child::before {
  content: counter(source-line);
  position: relative;
  left: -1em;
  text-align: right;
  vertical-align: baseline;
  border: none;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 4px;
  width: 4em;
  background-color: $white;
  color: #a0a0a0;
}

pre.numberSource {
  margin-left: 3em;
  border-left: 1px solid #a0a0a0;
  padding-left: 4px;
}

div.sourceCode {
  color: #1f1c1b;
  background-color: $white;
}

@media screen {
  pre > code.sourceCode > span > a:first-child::before {
    text-decoration: underline;
  }
}

code span {
  color: #1f1c1b;
}

/* Normal */
code span.al {
  color: #bf0303;
  background-color: #f7e6e6;
  font-weight: bold;
}

/* Alert */
code span.an {
  color: #ca60ca;
}

/* Annotation */
code span.at {
  color: #0057ae;
}

/* Attribute */
code span.bn {
  color: #b08000;
}

/* BaseN */
code span.bu {
  color: #644a9b;
  font-weight: bold;
}

/* BuiltIn */
code span.cf {
  color: #1f1c1b;
  font-weight: bold;
}

/* ControlFlow */
code span.ch {
  color: #924c9d;
}

/* Char */
code span.cn {
  color: #aa5500;
}

/* Constant */
code span.co {
  color: #898887;
}

/* Comment */
code span.cv {
  color: #0095ff;
}

/* CommentVar */
code span.do {
  color: #607880;
}

/* Documentation */
code span.dt {
  color: #0057ae;
}

/* DataType */
code span.dv {
  color: #b08000;
}

/* DecVal */
code span.er {
  color: #bf0303;
  text-decoration: underline;
}

/* Error */
code span.ex {
  color: #0095ff;
  font-weight: bold;
}

/* Extension */
code span.fl {
  color: #b08000;
}

/* Float */
code span.fu {
  color: #644a9b;
}

/* Function */
code span.im {
  color: #ff5500;
}

/* Import */
code span.in {
  color: #b08000;
}

/* Information */
code span.kw {
  color: #1f1c1b;
  font-weight: bold;
}

/* Keyword */
code span.op {
  color: #1f1c1b;
}

/* Operator */
code span.ot {
  color: #006e28;
}

/* Other */
code span.pp {
  color: #006e28;
}

/* Preprocessor */
code span.re {
  color: #0057ae;
  background-color: #e0e9f8;
}

/* RegionMarker */
code span.sc {
  color: #3daee9;
}

/* SpecialChar */
code span.ss {
  color: #ff5500;
}

/* SpecialString */
code span.st {
  color: #bf0303;
}

/* String */
code span.va {
  color: #0057ae;
}

/* Variable */
code span.vs {
  color: #bf0303;
}

/* VerbatimString */
code span.wa {
  color: #bf0303;
}

/* Warning */

// Tufte
/* Tufte CSS styles */
// h1 {
//   font-weight: 400;
//   margin-top: 4rem;
//   margin-bottom: 1.5rem;
//   font-size: 3.2rem;
//   line-height: 1;
// }
//
// h2 {
//   font-style: italic;
//   font-weight: 400;
//   margin-top: 2.1rem;
//   margin-bottom: 1.4rem;
//   font-size: 2.2rem;
//   line-height: 1;
// }
//
// h3 {
//   font-style: italic;
//   font-weight: 400;
//   font-size: 1.7rem;
//   margin-top: 2rem;
//   margin-bottom: 1.4rem;
//   line-height: 1;
// }

hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

.numeral {
  font-family: et-book-roman-old-style;
}

.danger {
  color: red;
}

article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

article > p, ul {
  width: 55%;
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
}

div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}

/* end chapter epigraphs styles */

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -40%;
  width: 35%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -10%;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  font-family: $font-family-serif;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.footnotes, .footnotes p, .footnotes li {
  font-size: 1.0rem;
}

.footnote-definition {
  font-size: 1.0rem;
  width: 55%;
  display: flex;
  align-items: top;
  padding-bottom: 1rem;
}

.footnote-definition-label {
  margin-right: 0.5rem;
  padding: 0;
}

.footnote-definition > p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
}

/* For smart quotes */
q {
  quotes: "“" "”" "‘" "’";
}

/* Override section behavior.
 * We only want the top-level <section> to have padding.
 * This makes it easier to work with --section-divs. */
section {
  padding-top: initial;
  padding-bottom: initial;
}

article > section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: column nowrap;
  width: 55%;
}

/* Make byline (date and/or author) small */
p.byline {
  font-size: 1.2rem;
}

/* Simulate Pandoc's table output styles */
table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

th {
  border-bottom: 1px solid black;
}

td, th {
  font-size: 1.4rem;
  padding: 10px;
  text-align: left;
}

/* Allow tables to be full width
 * if they're wrapped in a figure.fullwidth
 * (Easier to insert from Pandoc than manually adding table) */
figure.fullwidth table {
  width: 90%;
}

@media (max-width: 760px) {
  figure.fullwidth table {
    width: 100%;
  }
}

/* Code blocks
 *
 * Code blocks with a language look like div.sourceCode > pre.sourceCode
 * Otherwise, it's just a pre (without .sourceCode) */
div.sourceCode,
pre:not(.sourceCode) {
  padding: 1.4rem;
  margin: -0.7rem -1.4rem;
  width: 55%;
  font-size: 0.9rem;
  overflow-x: auto;
}

div.sourceCode code,
pre:not(.sourceCode) code {
  font-size: 1.0rem;
}

.fullwidth div.sourceCode,
.fullwidth pre:not(.sourceCode) {
  width: 100%;
}

@media (max-width: 760px) {
  div.sourceCode,
  pre:not(.sourceCode) {
    width: 100%;
  }
}

/* Math formatting */
.katex {
  font-size: inherit !important;
}

/* Wrap long URLs in references */
#refs a {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

section.header {
  padding-top: 1.5rem;
}

@media (max-width: 760px) {
  // body {
  //   width: 84%;
  //   padding-left: 8%;
  //   padding-right: 8%;
  // }
  //
  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section > ol {
    width: 90%;
  }

  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  footer nav {
    width: 77%;
    margin: unset;
    margin-right: auto;
    margin-bottom: auto;
  }

  label.sidenote-number {
    color: $light-blue;
    text-decoration: underline;
  }

  article p {
    width: 100%;
  }

  article section {
    width: 100%;
  }
}
