{{ partial "default_head.html" . }}

<!-- Space delimited list of page types -->
{{ $paginator := .Paginate (where .Data.Pages "Type" "in" "post") }}

<div class="posts">
  {{ range .Paginator.Pages }}
    <div class="post">
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <div class="metadata">
        <span class="post-date">{{ .Date.Format .Site.Params.DateForm }}</span>
        <span class="reading-time">about {{ .ReadingTime }} minute{{ if or (gt .ReadingTime 1) (eq .ReadingTime 0) }}s{{end}}</span>
      </div>
      <span class="post-summary">{{ .Summary }}</span>
    </div>
  {{ end }}
</div>

<div class="pagination">
  {{ if $paginator.HasNext }}
  <a class="pagination-item older" href="{{ $paginator.Next.URL }}">Older</a>
  {{ else }}
  {{ end }}

  {{ if $paginator.HasPrev }}
  <a class="pagination-item newer" href="{{ $paginator.Prev.URL }}">Newer</a>
  {{ else }}
  {{ end }}
</div>

{{ partial "default_foot.html" . }}
