<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  $partial("templates/head.html")$

  <body class="layout-reverse">
    <div class="masthead">
      <div class="container">
          <h1 class="masthead-title">
            <a href="$base_url$" title="Home">$site_title$</a>
          </h1>
      </div>
        <nav class="masthead-nav" id="nav">
          <a href="$base_url$">home</a>
          <a href="https://wbthomason.github.io">wbthomason</a>
        </nav>
    </div>

    <div class="container content">
