{% extends "base.html" %} {% block content %}
<ul class="post-list">
  {% for page in section.pages %}
  <li class="post-item">
      <h4 class="post-date">{{ page.date | date(timezone="America/New_York", format="%d %b %Y") }}</h4>
      <a class="post-link" href="{{ page.permalink | safe }}"><h1>{{ page.title }}</h1></a>
    {% if page.summary %}
    <div class="post-summary">
      {{ page.summary | replace(from="h3", to="h4") | replace(from="h2", to="h3") | replace(from="h1", to="h2") | safe}}
    </div>
    <a class="read-more" href="{{ page.permalink }}#continue-reading">continue</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}
